/* セッションメッセージ */
.mypage__alert {
    background: #def7e7;
    color: #0b6b39;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 26px;
    font-weight: 700;
}

/* アバター・ユーザー名・編集ボタン */
.profile-info {
    display: flex;
    width: 1020px;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 80px 320px;
}

.profile-info__main {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-info__avatar {
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    border-radius: 90px;
}

.profile-info__avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 90px;
}

.profile-info__heading {
    display: flex;
    flex-direction: column;
}

.profile-info__name {
    font-size: 36px;
    margin-left: 30px;
}

.profile-info__rating {
    display: flex;
    gap: 4px;
    line-height: 1;
}

.profile-info__rating-star {
    font-size: 40px;
    color: #d9d9d9;
}

.profile-info__rating-star--active {
    color: #fff048;
}

.profile-info__action-link {
    display: inline-flex;
    width: 310px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 2px solid #F55;
    border-radius: 10px;
    text-decoration: none;
    color: #F55;
    font-weight: 700;
    font-size: 26px;
}

/* タブ */
.mypage-tab {
    padding-bottom: 5px;
    border-bottom: 2px solid #5F5F5F;
}

.mypage-tab__link {
    text-decoration: none;
    padding-left: 60px;
    color: #5F5F5F;
    font-size: 24px;
    font-weight: 700;
}

.mypage-tab__link:first-child {
    padding-left: 130px;
}

.mypage-tab__link--active {
    color: #F00;
}

.mypage-tab__badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #f00;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    width: 26px;
    height: 26px;
    margin-left: 8px;
}

/* 商品一覧 */
.item-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    gap: 50px;
    margin: 60px 50px;
    padding: 0;
}

.item-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list__card {
    display: block;
    text-decoration: none;
}

.item-list__card-image {
    position: relative;
    width: 290px;
    height: 290px;
    background: #D9D9D9;
    border-radius: 4px;
    overflow: hidden;
}

.item-list__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-list__card-sold {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    border-top-left-radius: 4px;
    background: #F00;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;

}

.item-list__card-title {
    color: #000;
    margin: 5px 0;
    font-size: 25px;
}

.item-list__card-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    min-width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f00;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

}

/* レスポンシブデザイン */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .item-list {
        gap: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .profile-info {
        max-width: 630px;
        margin: 80px auto;
    }

    .profile-info__main {
        gap:10px;
    }

    .profile-info__action-link {
        width: 200px;
        height: 40px;
        font-size: 20px;
    }

    .mypage-tab__link:first-child {
        padding-left: 90px;
    }

    .item-list {
        grid-template-columns: repeat(2, minmax(290px, 1fr));
    }
}