.profile {
    width: 680px;
    margin: 0 auto;
}

/* セッションメッセージ */
.session-alert {
    max-width: 1540px;
    background: #def7e7;
    color: #0b6b39;
    margin: 0 auto;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 26px;
    font-weight: 700;
}

/* タイトル */
.profile__title {
    margin-top: 50px;
}

.profile__title h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

/* 画像入力フォーム用 */
.profile__image-wrap {
    display: flex;
    align-items: center;
    margin: 60px 0;
}

/* 画像選択 */
.profile__image {
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    border-radius: 90px;
}

.profile__image-label {
    display: inline-flex;
    width: 180px;
    height: 50px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid #F55;
    border-radius: 10px;
    color: #F55;
    font-size: 20px;
    font-weight: 700;
}

/* ユーザー情報入力フォーム用 */
.profile__form-group {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.profile__form-group label {
    font-size: 24px;
    font-weight: 700;
}

.profile__form-group input {
    height: 55px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    color: #5F5F5F;
    font-size: 24px;
    font-weight: 700;
    padding: 0 20px;
}

.profile__form-button button {
    width: 100%;
    height: 60px;
    margin: 80px 0;
    background: #F55;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
}

.profile__error {
    color: #F00;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/* レスポンシブデザイン */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .profile {
        width: 550px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .profile {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        padding: 0 16px;
    }
}