.content {
    max-width: 1540px;
    margin: 0 auto;
}

/* セッションメッセージ */
.item-index__alert {
    background: #def7e7;
    color: #0b6b39;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 26px;
    font-weight: 700;
}

/* タブ */
.tab-menu {
    display: flex;
    gap: 80px;
    margin-top: 50px;
    padding-left: 200px;
    padding-bottom: 10px;
    border-bottom: 2px solid #5F5F5F;
}

.tab-menu__link {
    text-decoration: none;
    color: #5F5F5F;
    font-weight: bold;
    font-size: 24px;
}

.tab-menu__link--active {
    color: #F00;
}

/* 一覧 */
.item-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    gap: 50px;
    margin: 70px 50px;
    padding: 0;
}

.item-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list__card {
    text-decoration: none;
}

.item-list__card-image {
    position: relative;
    width: 290px;
    height: 290px;
    background: #DDD;
    border-radius: 4px;
    overflow: hidden;
}

.item-list__card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-list__card-sold {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    border-top-left-radius: 4px;
    background: #F00;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;

}

.item-list__card-title {
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    text-align: start;
}

/* レスポンシブデザイン */
@media screen and (min-width: 1400) and (max-width: 1540px) {
    .item-index {
        max-width: 1540px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    .tab-menu {
        gap: 50px;
        margin-top: 50px;
        padding-left: 50px;
    }

    .item-list {
        grid-template-columns: repeat(2, minmax(290px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    .tab-menu {
        gap: 50px;
        margin-top: 50px;
        padding-left: 50px;
    }

    .item-list {
        grid-template-columns: repeat(2, minmax(290px, 1fr));
    }
}