.item-show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1380px;
    margin: 70px auto;
}

/* 商品画像 */
.item-show__image {
    width: 600px;
    height: 600px;
    margin-top: 60px;
    margin-left: 40px;
}

.item-show__image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* 商品詳細 */
.item-show__detail {
    margin: 30px 25px 25px 55px;
}

.item-show__detail-title {
    margin: 0px;
    font-size: 45px;
    font-weight: 700;
}

.item-show__detail-brand {
    font-size: 20px;
}

.item-show__detail-price {
    margin-top: 20px;
    font-size: 30px;
    font-family: Inter;
}

.item-show__detail-price span{
    font-size: 45px;
}

/* いいね・コメントカウント */
.item-show__detail-count {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 15px 40px;
}

.like-count__inner,
.comment-count__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-count__form-button {
    border: none;
    background: none;
    color: #555;
}

.like-count__button.is-active {
    color: #555;
}

.like-count__button svg path {
    fill: none;
}

.like-count__button.is-active svg path {
    fill: currentColor;
}

.like-count__inner span,
.comment-count__inner span {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
}

/* 購入手続きリンク */
.item-show__purchase-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    background: #F55;
    border: none;
    border-radius: 4px;
}

.item-show__purchase-link.is-disabled {
    background: #AAA;
    cursor: not-allowed;
    opacity: .7;
}

/* 商品説明 */
.item-detail__description,
.item-detail__information {
    margin: 30px 0;
}

.item-detail__description-title,
.item-detail__information-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.item-detail__description-body {
    margin: 50px 0 60px;
    font-size: 24px;
    line-height: 1.2;
}

/* 商品の情報 */
.item-detail__item-info {
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 30px;
    column-gap: 20px;
}

.item-detail__item-info dt {
    font-size: 24px;
    font-weight: 700;
}

.item-detail__item-info dd {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;
}

.item-info__category-label {
    display: inline-flex;
    align-items: center;
    background: #D9D9D9;
    border-radius: 15px;
    padding: 0 25px;
}

/* コメント表示 */
.item-detail__comment-title {
    margin-top: 55px;
    margin-bottom: 25px;
    color: #5F5F5F;
    font-size: 36px;
    font-weight: 700;
}

.item-detail__comment-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-detail__comment-user-avatar {
    width: 70px;
    height: 70px;
    background: #D9D9D9;
    border-radius: 45px;
}

.item-detail__comment-user-name {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.item-detail__comment-body {
    width: 100%;
    height: auto;
    background: #E5E5E5;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    line-height: 1.2;
}

/* コメント作成 */
.item-detail__comment-form {
    display: flex;
    flex-direction: column;
    margin: 45px 0;
}

.item-detail__comment-form-label {
    font-size: 28px;
    font-weight: 700;
}

.item-detail__comment-form-body {
    height: 245px;
    border: 2px solid #5F5F5F;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
    font-size: 20px;
}

.item-detail__comment-form-button {
    height: 55px;
    background: #F55;
    border: none;
    border-radius: 4px;
    margin-top: 50px;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
}

.form__error {
    color: #F00;
    font-size: 20px;
    font-weight: 700;
}

/* レスポンシブデザイン */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .item-show {
        padding: 0 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-show {
            display: flex;
            flex-direction: column;
            max-width: 680px;
            margin: 40px auto;
    }

    .item-detail__title {
        margin: 20px 0 0;
    }

    .item-detail {
        margin: 50px
    }
}

@media screen and (max-width: 768px) {
    .item-show {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        margin: 40px auto;
    }

    .item-detail__title {
        margin: 20px 0 0;
    }

    .item-detail {
        margin: 50px
    }
}