.login {
    width: 680px;
    margin: 0 auto;
}

/* タイトル */
.login-form__heading {
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

/* 入力フォーム */
.login-form__inner {
    margin-top: 50px;
}

.login-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-form__label {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 700;
}

.login-form__input {
    height: 60px;
    padding: 1px 20px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 20px;
}

/* エラーメッセージ */
.login-form__error-message {
    margin: 0;
    padding-top: 10px;
    color: #F00;
    font-size: 18px;
}

/* ボタン */
.login-form__button {
    width: 100%;
    height: 65px;
    margin-top: 50px;
    background: #F55;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

/* リンク */
.login-link {
    margin: 40px auto;
    text-align: center;

}

.login-link__register-link {
    color: #0073CC;
    text-decoration: none;
    font-size: 20px;
}

/* レスポンシブデザイン */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    .login {
        width: 500px;
        margin: 0 auto;
    }
}