.register {
    max-width: 680px;
    margin: 0 auto;
}

/* タイトル */
.register-form__heading {
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

/* 入力フォーム用 */
.register-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.register-form__label {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 700;
}

.register-form__input {
    height: 60px;
    padding: 1px 20px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 20px;
}

.register-form__error-message {
    margin: 0;
    padding-top: 10px;
    color: #F00;
    font-size: 18px;
}

.register-form__button {
    width: 100%;
    height: 65px;
    margin-top: 80px;
    background: #F55;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

/* ログインリンク */
.register-link {
    margin: 35px auto;
    text-align: center;

}

.register-link__login-link {
    color: #0073CC;
    text-decoration: none;
    font-size: 20px;
}

/* レスポンシブデザイン */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .content {
        max-width: 1540px;
        margin: 0 auto;
        }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    .register {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    .register {
        width: 500px;
        height: auto;
    }
}