.content {
    max-width: 1540px;
    margin: 0 auto;
}

.verify-email {
    max-width: 720px;
    margin: 250px auto;
}

.verify-email__text {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.verify-email__link {
    display: flex;
    justify-content: center;
}

.verify-email__link a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 260px;
    height: 70px;
    background: #D9D9D9;
    border: 1px solid #000;
    border-radius: 10px;
}

.verify-email__link-button {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.verify-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form__button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #0073CC;
    font-size: 20px;
}