/* 共通（フォント設定） */
body {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 1540px;
    margin: 0 auto;
    background: #000;
}

/* タイトルロゴ */
.header__logo {
    width: 370px;
    margin-left: 50px;
}


/* サーチウィンドウ */
.header__search-input {
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 24px;
    color: #000;
}

.header__search-input::placeholder {
    color: #000;
    opacity: 1;
}

/* ナビボタン */
.header__nav {
    margin-right: 30px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__pill {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    line-height: 1;
}

.header__nav-form button {
    background: transparent;
    display: inline-flex;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.header__nav-item--listing {
    display: flex;
    width: 100px;
    height: 50px;
    background: #FFF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.header__nav-item--listing a {
    color: #000;
    text-decoration: none;
}

/* レスポンシブデザイン */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .header {
        display: grid;
        grid-template-areas:
            "logo nav"
            "search search";
        gap: 15px;
        height: auto;
        padding: 15px 0;
    }

    .header__logo {
        grid-area: logo;
        width: 300px;
        margin-left: 30px;
    }

    .header__search {
        display: flex;
        grid-area: search;
        margin-left: 30px;
        justify-content: center;
    }

    .header__nav {
        grid-area: nav;
    }

    .header__search-input {
        box-sizing: border-box;
        max-width: 500px;
        height: 40px;
        padding: 10px 30px;
        font-size: 20px;
    }

    .nav__pill {
        font-size: 20px;
    }

    .header__nav-list {
        gap: 10px;
    }

    .header__nav-item--listing {
        width: 70px;
        height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "logo nav"
            "search search";
        gap: 15px;
        height: auto;
        padding: 15px 0;
    }

    .header__logo {
        grid-area: logo;
        width: 300px;
        margin-left: 30px;
    }

    .header__search {
        display: flex;
        grid-area: search;
        margin-left: 30px;
        justify-content: center;
    }

    .header__nav {
        grid-area: nav;
    }

    .header__search-input {
        box-sizing: border-box;
        max-width: 500px;
        height: 40px;
        padding: 10px 30px;
        font-size: 20px;
    }

    .nav__pill {
        font-size: 20px;
    }

    .header__nav-list {
        gap: 10px;
    }

    .header__nav-item--listing {
        width: 70px;
        height: 40px;
    }
}
