.content {
    max-width: 1540px;
    margin: 0 auto;
}

.profile-info {
    display: flex;
    width: 1017px;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 100px 300px;
}

.profile-info__avatar-img {
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    border-radius: 90px;
}

.profile-info__user-name h2 {
    font-size: 36px;
    margin-left: -200px;
}

.profile-info__action-link{
    display: inline-flex;
    width: 310px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 2px solid #F55;
    border-radius: 10px;
    text-decoration: none;
    color: #F55;
    font-weight: 700;
    font-size: 26px;
}

.mypage-tab {
    padding-bottom: 10px;
    border-bottom: 2px solid #5F5F5F;
}

.mypage-tab__link {
    text-decoration: none;
    padding-left: 60px;
    color: #5F5F5F;
    font-size: 24px;
    font-weight: 700;
}

.mypage-tab__link:first-child {
    padding-left: 130px;
}

.mypage-tab__link--active {
    color: #F00;
}

.item-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    gap: 50px;
    margin: 70px 50px;
    padding: 0;
}

.item-list__card {
    text-decoration: none;
}

.item-list__card-image img {
    position: relative;
    width: 290px;
    height: 290px;
    background: #D9D9D9;
    border-radius: 4px;
    overflow: hidden;
}

.item-list__card-title {
    color: #000;
    margin: 5px 0;
    font-size: 25px;
}