.sell {
    width: 680px;
    margin: 0 auto;
}

.sell__title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

/* 商品画像 */
.sell__group-label {
    font-size: 24px;
    font-weight: 700;
    display: block;
}

.sell__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 1px dashed #5F5F5F;
    border-radius: 4px;
}

.sell__image--has-image{
    border: 1px dashed #5F5F5F;
    border-radius: 4px;
    width: 100%;
    height: 350px;
}

.sell__image img {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
}

.sell__image-button {
    position: absolute;
    z-index: 2;
    font-size: 16px;
    font-weight: 700;
    color: #FF5655;
    border: 2px solid #F55;
    border-radius: 10px;
    padding: 10px 25px;
}

.sell__section-title {
    margin-top: 70px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
}

.sell__group {
    margin-top: 30px;
}

/* カテゴリ選択 */
.sell__category-label {
    display: inline-flex;
    border: 2px solid #FF5655;
    border-radius: 200px;
    color: #FF5655;
    font-size: 15px;
    font-weight: 500;
    margin: 35px 0 5px 12px;
    padding: 3px 15px;
}

.sell__category-input {
    appearance: none;
}

.sell__category-input:checked + .sell__category-label{
    background: #FF5655;
    color: #FFF;
}

/* 商品の状態 */
.sell__group-condition-select {
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin: 10px 0;
    padding: 0  20px;
    color: #5F5F5F;
    font-size: 16px;
    font-weight: 700;
    appearance: none;
    position: relative;
}

.sell__group-select-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}

.sell__group-select-wrap::after {
    position: absolute;
    top: 50%;
    right: 2%;
    width: 0;
    height: 0;
    border-top: 12px solid #5F5F5F;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}

.sell__group-condition-select option {
    background: #636769;
    color: #FFF;
}

/* 商品名と説明 */
.sell__group-input,
.sell__group-textarea {
    width: 100%;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin: 5px 0;
    padding: 0px  20px;
    font-size: 22px;
}

.sell__group-input{
    height: 45px;
}

.sell__group-textarea{
    height: 125px;
    padding: 10px 20px;
}

.sell__price {
    position: relative;
}

.price__symbol {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    top: 20%;
    left: 2%;
}

.sell__group-input-price {
    padding-left: 40px;
}

.sell__form-button {
    width: 100%;
    height: 60px;
    margin: 110px 0;
    background: #F55;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-size:26px;
    font-weight: 700;

}

.sell__error {
    color: #F00;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/* レスポンシブデザイン */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .content {
        max-width: 1540px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .sell {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .sell {
        max-width: 600px;
    }
}



