.shipping-address {
    width: 680px;
    margin: 0 auto;
}

/* タイトル */
.shipping-address__title {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

/* 入力フォーム */
.shipping-address__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.shipping-address__group-label {
    font-size: 24px;
    font-weight: 700;
}

.shipping-address__group-text {
    width: 100%;
    height: 45px;
    padding: 0 25px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 20px;
}

.shipping-address__button button {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    background: #F55;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
}

/* エラー表示 */
.shipping-address__error {
    margin-top: 10px;
    color: #F00;
    font-size: 18px;
}

/* レスポンシブデザイン */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .shipping-address {
        max-width: 530px;
    }
}