.purchase {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 440px;
    gap: 100px;
    margin: 80px 85px;
    align-items: start;
}

.purchase-info {
    margin-top: 10px;
}

/* 商品情報 */
.item__group {
    display: flex;
    padding-bottom: 55px;
    border-bottom: 1px solid;
}

.item__group-img {
    width: 177px;
    height: 177px;
    background: #D9D9D9;
}

.item__group-info {
    margin-left: 60px;
}
.item__group-product-name {
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
}

.item__group-price {
    font-size: 30px;
}

.item__group-price span {
    font-size: 27px;
    font-weight: 400;
}

/* 支払い方法 */
.payment-select__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    border-bottom: 1px solid;
}

.payment-select__label {
    margin: 30px auto 40px 40px;
    font-size: 20px;
    font-weight: 700;
}

.payment-select__wrap {
    position: relative;
    display: inline-block;
    width: 300px;
    margin-left: 100px;
}

.payment-select__select {
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    color: #5F5F5F;
    font-size: 16px;
    font-weight: 700;
    appearance: none;
}

.payment-select__wrap::after {
    position: absolute;
    top: 50%;
    right: 3%;
    width: 0;
    height: 0;
    border-top: 12px solid #5F5F5F;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}

.payment-select__select option {
    background: #636769;
    color: #FFF;
}

/* 配送先 */
.shipping-address__select {
    border-bottom: 1px solid;
}

.shipping-address__titles {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.shipping-address__select-title {
    font-size: 20px;
    font-weight: 700;
}

.shipping-address__change-link {
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
}

.shipping-address__input {
    border: none;
}

.shipping-address__display {
    margin-left: 100px;
    padding-bottom: 50px;
}

.shipping-address__postal,
.shipping-address__full {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

/* 確認表示 */
.purchase-confirm__definition{
    border: 1px solid;
}

.purchase-confirm__definition-set {
    display: grid;
    grid-template-columns: 1fr auto;
}

.purchase-confirm__definition-set:first-child {
    border-bottom: 1px solid;
}

.purchase-confirm__definition dt {
    padding: 40px 0px 40px 50px;
    font-size: 20px;
}

.purchase-confirm__definition dd {
    margin: 0;
    padding: 38px 40px 38px 0;
    font-size: 24px;
}

.purchase-confirm__definition span {
    font-size: 20px;
}

.purchase-form__button button {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    background: #F55;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
}

.purchase__error {
    margin: 5px 0 0 100px;
    color: #F00;
    font-size: 18px;
}

/* レスポンシブデザイン */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .content {
        max-width: 1540px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .purchase {
        display: flex;
        flex-direction: column;
        margin: 80px 100px;
        align-items: normal;
    }

    .purchase-confirm__form {
        margin: 0 70px;
    }
}